<h1>Dealership Inventory Tracking System</h1>
<ul>
  <li><%= link_to "Cars", cars_path %></li>
  <li><%= link_to "Dealerships", dealerships_path %></li>
  <li><%= link_to "Makes", makes_path %></li>
  <li><%= link_to "Models", models_path %></li>
  <li><%= link_to "Years", years_path %></li>
</ul>