<%= form_with(model: car, local: true, html: { data: { controller: "car-form" } }) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :make_id, "Make" %>
    <%= form.collection_select(
            :make_id,
            Make.all,
            :id,
            :name,
            { prompt: "Select a Make" },
            { id: "car_make_id", data: { car_form_target: "make", action: "change->car-form#makeChanged" } }, 
          ) %>
  </div>
  <div>
    <%= form.label :model %>
    <%= form.collection_select(
            :model_id,
            Model.all,
            :id,
            :name,
            { prompt: "Select a Model" },
            { id: "car_model_id", data: { car_form_target: "model", action: "change->car-form#modelChanged" } } 
          ) %>
  </div>
  <div>
  <%= form.label :year_id, "Year" %>
  <%= form.collection_select(
          :year_id,
          Year.all,
          :id,
          :year,
          { prompt: "Select a Year" },
          { id: "car_year_id", data: { car_form_target: "year" } }
        ) %>
  </div>
  <div>
    <%= form.label :trim %>
    <%= form.text_field :trim %>
  </div>
  <div>
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>
  <div>
    <%= form.label :dealership_id %>
    <%= form.collection_select :dealership_id, Dealership.all, :id, :name, prompt: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
